@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;600;800&display=swap');

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif, Georgia, 'Times New Roman', Times, serif;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.App {
  /* min-height: 100vh; */
  height: auto;
  min-width: 100vw;
  background-color:
    #e7eef4;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardbox {
  min-height: 100vh;
  width: 100vw;
  display: flex;

  flex-wrap: wrap;
  padding: 1rem;

}

.card {
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  min-height: 320px;
  box-shadow: 1px 12px 5px 6px rgba(0, 0, 0, alpha);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 1rem 2rem;
  padding: 1rem;
  -webkit-box-shadow: 7px 5px 14px -7px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 7px 5px 14px -7px rgba(0, 0, 0, 0.75);
  box-shadow: 7px 5px 14px -7px rgba(0, 0, 0, 0.75);
}

.card .img img {
  width: 360px;
  height: 200px;
  border-radius: 1rem;
}

.card h2 {
  font-size: 2.2rem;
  font-weight: 800;
}

.card h3 {
  font-size: 1rem;
  font-weight: 400;
}

.card p {
  color: #e1e1e1;
  font-size: 1rem;
}

.footer {
  display: flex;
  width: 20vw;
  justify-content: space-between;
}
